/* Ajustes globais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --text-color: #fff;
    --main-color: #754ef9;
    --second-color: #000000;
    --white-color: #fdfdfd;
    --shadow-color: #754ef9;
}

*::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --shadow-color: #754ef9;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.1rem;
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

.header.sticky #darkMode-icon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* FIM DA HEADER */

.w-100 {
    width: 100%;
}

.portfolio-1 {
    background: #150725;
    padding: 100px 5% 100px;
    margin-top: -1px;
    text-align: center;
}

.porto-center {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.porto-center .w-50 {
    width: 66%;
    max-width: 800px;
}

.porto-center h2,
.porto-center h3 {
    color: #fff;
    font-size: 2.1rem;
}

.porto-center h5 {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.portfolio-1 .gallary-hr1 {
    opacity: 1.25;
    height: 1px;
    color: var(--main-color);
    width: 60px;
    border: 1px solid;
    margin: auto;
}

.porto-center hr {
    width: 100%;
    opacity: 1.25;
    height: 1px;
    color: #754ef9;
    border: 1px solid;
}

.portfolio-1 .btn_hover2 {
    padding: 15px 30px;
    border: 1px solid #ff7527;
    transition: 0.3s;
    cursor: pointer;
}

.portfolio-1 .btn_hover2:hover {
    background: #ff7527;
    color: #fff;
}

.porto-center .w-100 {
    width: 33%;
    flex: 0 0 auto;
}

/* Galeria */
.gallary {
    background-color: var(--second-color);
    padding-bottom: 120px;
    position: relative;
    z-index: 1;
}

.gallary img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.gallary img[alt="sm_img"] {
    max-height: 200px;
}

.ga-bg {
    background-color: #150725;
    height: 300px;
}

.gallary span {
    background-color: rgba(21, 7, 37, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.gallary .container {
    margin-top: -390px;
    z-index: 1;
    position: relative;
    padding: 0 5%;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tab button {
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
}

.tab button.active {
    background: linear-gradient(11deg, #7436bb 0.01%, #754ef9 100%);
}

.tabcontent {
    display: none;
    padding: 10px;
    text-align: center;
}

.tabcontent .w-100 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.gallary-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.gallary-hr hr {
    opacity: 1;
    color: #fff;
    height: 2px;
    width: 60px;
    margin: auto;
}

/* ESTILIZAÇÃO DA GALERIA UI/UX */

.portfolio-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.image-container {
    position: relative;
    display: block;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.overlay p {
    font-size: 0.9rem;
    margin: 0;
}


/* FIM DA ESTILIZAÇÃO DA GALERIA UI/UX */

/* Estilização das imagens e videos */
.w-33 {
    width: 100%; 
    max-width: 400px;
    margin: 0 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.w-33 figure {
    margin: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.w-33 figure img,
.w-33 figure video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.w-33:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.w-66 {
    width: 100%;
    max-width: 600px;
    height: 30%;
    margin: 0 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.w-66 figure {
    margin: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.w-66 figure img,
.w-66 figure video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.w-66:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}



/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;
}

/* Estilização videos Youtube */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Responsividade */
@media (max-width: 992px) {
    .porto-center .w-50, .porto-center .w-100 {
        width: 100%;
    }
    .porto-center p {
        padding-right: 0;
    }
    .gallary .container {
        margin-top: -200px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .about-content h2{
        margin-top: 30px;
    }

    .home .profession-container .profession-box {
        right: -10%;
    }

    .home .profession-container .overlay {
        right: -6%;
    }

    .home-img img {
        right: 0;
    }
}

@media (max-width: 1100px) {
    .home .profession-container .profession-box {
        right: -15%;
    }

    .home-img img {
        max-width: 420px;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .home .profession-container .profession-box {
        right: -20%;
    }

    .home .profession-container .overlay {
        right: -12%;
    }

    .home-img img {
        max-width: 400px;
    }
}

@media (max-width: 991px) {

    .navbar a:nth-child(1) {
        color: var(--main-color);
    }

    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }

    .home .home-content {
        max-width: 50rem;
    }

    .home .profession-container .profession-box {
        right: -35%;
    }

    .home .profession-container .overlay {
        right: -30%;
    }

    .home-img img {
        display: none;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 896px) {
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }

    .home .profession-container .profession-box {
        right: -50%;
    }

    .home .profession-container .overlay {
        right: -43%;
    }
}

@media (max-width: 879px) {
    .portfolio .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 780px) {
    .navbar a:nth-child(2) {
        color: var(--white-color);
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .home .profession-container {
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .profession-container .profession-box {
        position: fixed;
        top: 450px;
        left: 0;
        width: 100%;
    }

    .home .profession-box .profession {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .profession-box .profession:nth-child(1) i {
        margin-right: 0;
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0, -325px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-115px, -450px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-220px, -325px);
    }

    .home .profession-box .circle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .profession-container .overlay {
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    .about-img img {
        width: 70vw;
        margin-top: -2rem;
    }

    .testimonial-container .testimonial-wrapper {
        padding: 5rem 0;
    }

    .testimonial-content .testimonial-slide {
        padding: 3rem 2rem;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev {
        display: none;
    }

    .w-33, .w-66 {
        width: 100%;
    }

    video {
        width: 100%;
    }
}

@media (max-width: 580px) {
    .portfolio .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #darkMode-icon {
        right: 6rem;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-110px, -220px);
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(5px, -325px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-105px, -440px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-210px, -325px);
    }

    .home .profession-container .overlay {
        top: 80rem;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 365px) {
    .about-img img {
        width: 90vw;
    }
}

@media (max-width: 315px) {
    .home-content h1 {
        font-size: 4.5rem;
    }
}
img {
    border-radius: 20px;
}
